<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfilePage</title>
</head>
<body>
    <p>Aiden Cross is a quiet but sharp-minded young man with a love for solving mysteries. 
        With his dark hair always slightly messy and a notebook tucked under his arm, he spends hours observing the world around him. 
        Though he often keeps to himself, his keen eye for detail and unwavering determination make him the person everyone turns to when something unusual happens</p>
</body>
</html>